<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="hero">
        <nav>
            <div class="logo-container">
                <img src="/images/logo.png" alt="Logo" class="logo">
                <span class="company-name">TURTLE SHELTER <br>PROJECT</span>
            </div> 
            <ul>
                <li><a href="/internalIndex">DASHBOARD</a></li>
                <li><a href="/volunteerMaintain">VOLUNTEERS</a></li>
                <li><a href="/eventMaintain">EVENTS</a></li>
                <li><a href="/userMaintain">USERS</a></li>
                <li><a href="/logout">LOGOUT</a></li>
            </ul>
        </nav>
    </header>
    <h1>Add User</h1>
    <% if (error) { %>
        <p><%= error %></p>
    <% } %>
    <form action="/addUser" method="POST">
        <label for="adminfirstname">First Name:</label>
        <input type="text" id="adminfirstname" name="adminfirstname" required>
        <br>
        <label for="adminlastname">Last Name:</label>
        <input type="text" id="adminlastname" name="adminlastname" required>
        <br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="confirmPassword">Re-enter Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
