<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Form</title>
    <link rel="stylesheet" href="/css/addVolunteer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="hero">
        <nav>
            <div class="logo-container">
                <img src="/images/logo.png" alt="Logo" class="logo">
                <span class="company-name">TURTLE SHELTER <br>PROJECT</span>
            </div> 
            <ul>
                <li><a href="/internalIndex">DASHBOARD</a></li>
                <li><a href="/volunteerMaintain">VOLUNTEERS</a></li>
                <li><a href="/eventMaintain">EVENTS</a></li>
                <li><a href="/userMaintain">USERS</a></li>
                <li><a href="/logout">LOGOUT</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="vol-head" style="text-align: center;">Volunteer Form</h1>
        <form action="/addVolunteer" method="POST">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" required>

            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" required>

            <label for="phoneNumber">Phone Number</label>
            <input type="text" id="phoneNumber" name="phoneNumber" required>

            <label for="foundUs">How did you find out about us?</label>
            <input type="text" id="foundUs" name="foundUs" required>

            <div class="radio-group">
                <label>Sewing Level</label>
                <div class="sewing-levels">
                    <div class="radio-option">
                        <input type="radio" id="beginner" name="sewingLevel" value="Beginner" required>
                        <label for="beginner">Beginner</label>
                    </div>
                    <div class="radio-option">
                        <input type="radio" id="intermediate" name="sewingLevel" value="Intermediate">
                        <label for="intermediate">Intermediate</label>
                    </div>
                    <div class="radio-option">
                        <input type="radio" id="experienced" name="sewingLevel" value="Experienced">
                        <label for="experienced">Experienced</label>
                    </div>
                </div>
            </div>

            <label for="hoursPerWeek">Number of hours you can volunteer per week</label>
            <input type="number" id="hoursPerWeek" name="hoursPerWeek" min="1" max="168" required>

            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>
