<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/test.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="hero">
        <nav>
            <div class="logo-container">
                <img src="/images/logo.png" alt="Logo" class="logo">
                <span class="company-name">TURTLE SHELTER <br>PROJECT</span>
            </div> 
            <ul>
                <li><a href="/">HOME</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">ABOUT</a>
                    <ul class="dropdown-menu">
                        <li><a href="/ourtech">Our Tech</a></li>
                        <li><a href="/jensstory">Our Story</a></li>
                        <li><a href="/FAQ">FAQ</a></li>
                    </ul>
                </li>
                <li><a href="/volunteerForm">VOLUNTEER</a></li>
                <li><a href="/eventRequest">EVENT REQUEST</a></li>
                <li><a href="https://turtleshelterproject.org/donate">DONATE</a></li>
                <li><a href="/login">LOGIN</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="about">
            <h2>What is the Turtle Shelter Project?</h2>
            <div id="turtle-project">
                <p>
                    The Turtle Shelter Project creates life-saving foam vests for the homeless to provide warmth and protection during freezing temperatures. Using 
                    <a href="/ourtech" class="inline-link">innovative foam clothing technology</a>, our vests retain body heat even when wet, offering critical insulation for those exposed to the elements. Every life has value, and we believe no one should suffer in the cold simply because they lack shelter
                </p>
            </div>
        <section>
                <div class="stats-container" id="learn">
                    <div class="stat">
                        <div class="stat-content">
                            <a href="/jensstory">LEARN MORE ABOUT OUR STORY</a>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <section id="projects">
            <h2>How can you help?</h2>
            <div class="stats-container">
                <!-- Volunteer Button -->
                <div class="stat">
                    <a href="/volunteerForm" class="stat-button">
                        <img src="/images/volunteerIcon2.png" alt="Volunteer Icon" class="stat-icon">
                        <span class="stat-text"><br>Volunteer</span>
                    </a>
                </div>
        
                <!-- Organize an Event Button -->
                <div class="stat">
                    <a href="/eventRequest" class="stat-button">
                        <img src="/images/eventIcon2.png" alt="Event Icon" class="stat-icon">
                        <span class="stat-text"><br>Organize an Event</span>
                    </a>
                </div>
        
                <!-- Donate Button -->
                <div class="stat">
                    <a href="https://turtleshelterproject.org/donate" class="stat-button">
                        <img src="/images/donateIcon2.png" alt="Donate Icon" class="stat-icon">
                        <span class="stat-text"><br>Donate</span>
                    </a>
                </div>
            </div>
        </section>
        
        <section id="about">
            <h2>Our Goal</h2>
            <p>At Turtle Shelter Project, our mission is to ensure that every homeless individual, has access to a life-saving Turtle Shelter vest. We aim to provide a reliable, accessible solution to protect vulnerable individuals from hypothermia and frostbite.
                We are committed to reaching every corner of the globe, partnering with communities and organizations to distribute these vests. With your support, we can make sure that no one is left unprotected during the harshest of winters.</p>
        </section>
        <section>
            <div class="stats-container" id="nums">
                <!-- Stat 1 -->
                <div class="stat">
                    <div class="stat-content">
                        <img src="/images/vest.png" alt="vest icon" class="stat-icon">
                        <span class="stat-text">5500+</span>
                    </div>
                    <span class="stat-description">Vests Distributed</span>
                </div>
                <!-- Stat 2 -->
                <div class="stat">
                    <div class="stat-content">
                        <img src="/images/groupIcon.png" alt="volunteer icon" class="stat-icon">
                        <span class="stat-text">100+</span>
                    </div>
                    <span class="stat-description">Volunteers</span>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
