<!DOCTYPE html>
<html lang=“en”>
<head>
    <meta charset=“UTF-8">
    <meta name=“viewport” content=“width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="styles/internal.css">
    <link rel=“shortcut icon” href=“/images/favicon.ico” type=“image/x-icon”>
    <link rel=“icon” href=“/images/favicon.ico” type=“image/x-icon”>
</head>
<body>
    <header class=“hero”>
        <nav>
            <div class=“logo-container”>
                <img src="images/" alt="Logo" class="logo">
                <span class=“company-name”>TURTLE SHELTER <br>PROJECT</span>
            </div>
             <ul>
                <li><a href="/internalIndex">HOME</a></li>
                <li><a href="/userMaintain">USERS</a></li>
                <li><a href="/volunteerMaintain">VOLUNTEERS</a></li>
                <li><a href="/eventMaintain">EVENTS</a></li>
                <li><a href="/logout">LOGOUT</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        <section class="dashboard">
            <h2>Welcome back!</h2>
            <div class="tableau-container">
                <div class="tableauPlaceholder" id="viz1733354959655">
                    <noscript>
                        <a href="#"><img alt=" " src="https://public.tableau.com/static/images/NJ/NJJ6W7ZWR/1_rss.png" style="border: none" /></a>
                    </noscript>
                    <object class="tableauViz" style="display:none;">
                        <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" /> 
                        <param name="embed_code_version" value="3" /> 
                        <param name="path" value="shared/NJJ6W7ZWR" /> 
                        <param name="toolbar" value="yes" />
                        <param name="animate_transition" value="yes" />
                        <param name="display_static_image" value="yes" />
                        <param name="display_spinner" value="yes" />
                        <param name="display_overlay" value="yes" />
                        <param name="display_count" value="yes" />
                        <param name="language" value="en-US" />
                    </object>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Turtle Shelter Project. All rights reserved.</p>
    </footer>

    <!-- Tableau Script -->
    <script type="text/javascript">
        var divElement = document.getElementById('viz1733354959655');
        var vizElement = divElement.getElementsByTagName('object')[0];
        if (divElement.offsetWidth > 800) {
            vizElement.style.minWidth = '1000px';
            vizElement.style.minHeight = '850px';
        } else if (divElement.offsetWidth > 500) {
            vizElement.style.minWidth = '1000px';
            vizElement.style.minHeight = '850px';
        } else {
            vizElement.style.width = '100%';
            vizElement.style.minHeight = '1600px';
        }
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>
</body>
</html>


