<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Form</title>
    <link rel="stylesheet" href="/css/formstyles.css">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/addVolunteer">Volunteer</a></li>
                <li><a href="/eventRequest">Request Events</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main><!-- Add email, location (city and state/ maybe county), -->
        <h1 style="text-align: center;">Volunteer Form</h1>
        <form action="/submitVolunteer" method="POST">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" required>

            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" required>

            <label for="phoneNumber">Phone Number</label>
            <input type="text" id="phoneNumber" name="phoneNumber" required>

            <label for="foundUs">How did you find out about us?</label>
            <input type="text" id="foundUs" name="foundUs" required>

            <div class="radio-group">
                <label>Sewing Level</label>
                <input type="radio" id="beginner" name="sewingLevel" value="Beginner" required>
                <label for="beginner">Beginner</label>
                <input type="radio" id="intermediate" name="sewingLevel" value="Intermediate">
                <label for="intermediate">Intermediate</label>
                <input type="radio" id="experienced" name="sewingLevel" value="Experienced">
                <label for="experienced">Experienced</label>
            </div>

            <label for="hoursPerWeek">Number of hours you can volunteer per month</label>
            <input type="number" id="hoursPerWeek" name="hoursPerWeek" min="1" max="168" required>

            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>
